.button {
  border: none;
  color: gold;            /* text color */
  padding: 15px 32px;     /* Size/dimensions of box */
  text-align: center;     /* Align text at center of box */
  text-decoration: none;  /* No font/style is being used */
  display: inline-block;  
  font-size: 20px;        /* Size of Font */
  cursor: pointer;
}

.button1 {
  background-color: black;  /* Sets Backround Color of button box to black */
  left: 367px;              /* Sets position of button */
  top: 10px;                 /* Sets Position of button */
  margin: 370px 0px;
} /* Plus OR + */
.button2 {
  background-color: black;  /* Sets Backround Color of button box to black */
  left: 290px;              /* Sets Position of button */
  top: 10px;                /* Sets Position of button */
  margin: 370px 0px;
} /* Subtract OR - */
.button3 {
  background-color: black;  /* Sets Backround Color of button box to black */
  left: 367px;              /* Sets Position of button */
  top: 10px;                /* Sets Position of button */
  margin: 450px 0px;
} /* Subtract OR - */
.button4 {
  background-color: black;  /* Sets Backround Color of button box to black */
  left: 290px;              /* Sets Position of button */
  top: 10px;                /* Sets Position of button */
  margin: 450px 0px;
} /* Subtract OR - */




#scoutingtitle, #autontitle, #paragraph1, #paragraph2, #questions, .button, #frcconegamepiece, #paragraph3, #frccubegamepiece, #paragraph4, #scoutingTitle4, #scoutingTitle3, #autonTitle, #drivetrain, #gameplay, #teamnumber, #teamnumbername, #teleoptitle { 
  /* position: fixed;         */
  top: 10px;              /*  */
  padding: 10px;          /*  */
}

#scoutingtitle {
  text-align: center;
}

#teamnumber {
  font-family: Arial, Helvetica, sans-serif;
}

#autontitle {}

#frcconegamepiece {}

#paragraph1 {
  text-align: center;
}

#paragraph2 {
  text-align: center
}

#paragraph3 {
  text-align: center;
}

#frccubegamepiece {}

#paragraph4{
  text-align: center;
}

#scoutingTitle3 {
  margin: 0 auto;
  display: block;
}
img {
  display: block;
  margin: 0 auto;
}
#scoutingTitle4 {
  width: 235px;
}

#autonTitle {
  width: 230px;
}

#drivetrain {
  width: 110px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

#gameplay {
  width: 110px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

#teamnumbername {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#teleoptitle {}

#submit {
  align-content: center;
}






.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.counter {
  width: 75px;
  height: 75px;
}

.row .row {
  width: auto;
}

label {
  display: block;
}